<strong> Olá, {{student }}</strong>
<p>Informamos que sua solicitação foi respondida por um de nossos colaboradores.</p>
<p>
  <strong>Solicitação: </strong> {{question }} <br/>
  <br/>
  <strong>Resposta: </strong> {{answer }} <br/>

  <br />
  <small>
    Se houver algo mais que possamos ajudá-lo, só entrar em contato conosco.
  </small>
</p>
